* {
  border: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 0px;
}
a,
button {
  cursor: pointer;
}

h1 {
  color: rgb(77, 2, 112);
}

p {
  font-size: 18px;
  font-weight: 700px;
  line-height: 18px;
  color: blueviolet;
}

.div-body {
  background-color: rgb(219, 200, 215);
  margin: 25px;
  padding: 25px;
  width: 500px;
  height: 200px;
}

#meu-nome {
  background-color: coral;
}
