.button {
  background-color: red;
}

.button:hover {
  background-color: blue;
}

.list {
  background-color: aquamarine;
}

.list:empty {
  display: none;
}

.list-item:nth-child(even) {
  background-color: blue;
}

button {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(15deg);
}
