.container {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 1px solid black;
  margin: 10px;
}
