* {
  border: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 0px;
}
a,
button {
  cursor: pointer;
}

body {
  background-color: antiquewhite;
}

nav * {
  color: white;
  text-align: center;
  background-color: darkcyan;
  text-decoration: none;
  padding: 5px;
  text-align: center;
}

.data {
  font-size: 15px;
}

#informaçoes {
  margin: 20px;
}

#Titulo-principal {
  background-color: rgb(34, 139, 34);
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  height: 150px;
  width: 400px;
}

#title-informacoes {
  background-color: rgb(50, 205, 50);
  padding: 15px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#infos {
  background-color: rgb(168, 247, 207);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1px;
}

#titulo-nav {
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(191, 255, 228, 0.952);
}

#naveg {
  padding: 15px;
  background-color: rgba(191, 255, 228, 0.952);
}

.container {
  height: 100px;
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: space-between;
}

.box {
  width: 300px;
  height: 150px;
}
